.grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 90vh);
}
.gallery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 5.8rem;

  &--flex-end {
    justify-content: flex-end;
    padding-bottom: 3.5rem;
  }

  &__title {
    color: $very-dark-desaturated-blue;
    font-family: $fraunces;
    font-size: 2rem;

    &--cyan {
      color: $dark-desatured-cyan;
    }
  }

  &__paragraph {
    color: $dark-grayish-blue;
    font-family: $barlow;

    &--cyan {
      color: $dark-moderate-cyan;
    }
  }

  &__link {
    display: inline-block;
    max-width: fit-content;
    font-family: $fraunces;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: $very-dark-desaturated-blue;
    border-bottom: 6px rgba(250, 212, 0, 0.2) solid;
    border-radius: 5px;

    &:hover {
      border-color: $yellow;
      transition: border 0.3s ease;
    }

    &--red {
      border-color: rgba(254, 120, 103, 0.2);

      &:hover {
        border-color: $soft-red;
      }
    }
  }

  &--bg-one {
    background: url("../images/desktop/image-graphic-design.jpg") no-repeat
      center center/cover;
  }
  &--bg-two {
    background: url("../images/desktop/image-photography.jpg") no-repeat center
      center/cover;
  }
}
.image {
  &__one {
    background: url("../images/desktop/image-transform.jpg") no-repeat center
      center/cover;
  }

  &__two {
    background: url("../images/desktop/image-stand-out.jpg") no-repeat center
      center/cover;
  }
}

@media (max-width: 865px) {
  .grid-gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 90vh);
  }
  .gallery-content {
    padding: 0 3rem;
  }
}
